<ion-header>
  <ion-navbar no-border-bottom>

    <ion-buttons start>
      <button *ngIf="!permit" ion-button icon-only (click)="showLeaveForm()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <ion-segment [(ngModel)]="leaveForm">
      <ion-segment-button value="passOrNot">
        審核中
      </ion-segment-button>
      <ion-segment-button value="all">
        請假紀錄
      </ion-segment-button>
    </ion-segment>

    <!--<ion-buttons end>
      <button *ngIf="permit" ion-button icon-only>
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="leaveForm">

    <ion-list *ngSwitchCase="'passOrNot'">
      <ion-item *ngFor="let item of form_await">
        <button class="leave" ion-item (click)=" permit ? showLeaveDetail(item) : showLeaveDetailWorker(item)">
          <h3>{{item.username}}</h3>
          <p>{{item.date}}</p>
          <p>{{item.category}}</p>
          <p>{{item.about}}</p>
        </button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'all'">
      <ion-item *ngFor="let item of form_processed">
        <button [class]="item.checkId == 'pass' ?
      'leave leaveFormPass' : 'leave leaveFormReject'" ion-item (click)=" permit ? showLeaveDetail(item) : showLeaveDetailWorkerCantDelete(item)">
          <h3>{{item.checkId}} &mdash; {{item.username}}</h3>
          <p>{{item.date}}</p>
          <p>{{item.category}}</p>
          <p>{{item.about}}</p>
        </button>
      </ion-item>
    </ion-list>

  </div>
</ion-content>